{% extends "base.html" %}
{% block title %} Dashboard | QuantifiedSelf {% endblock %}

{% block content %}
    <div class="mt-3 mb-3">
        <h1 class="makecenter">About Us</h1>
    </div>
    
    <div class="mb-3 makecenter">
        <img src="{{ url_for('static', filename='images/mypic.jpg') }}" alt="founder & developer's image" id="circularimage" class="shadow">
    </div>

    <div class="mb-3 makecenter">
        <p>Hi, I'm <b>Rakesh Kr Mandal</b> from Birbhum, West Bengal, India</p>
        <p>Rakesh means 'Full Moon' and I really love moonlight, ha ha ha...</p>
        <p>I did my graduation in Physics. While doing science fair activities I got interested in coding..</p>
        <p>This application is my academic final project in MAD-I course</p>
        <p>Thank You</p>
    </div>
{% endblock %}