{% extends "base.html" %}
{% block title %} Dashboard | QuantifiedSelf {% endblock %}

{% block content %}
    <div class="mt-3 mb-3">
        <h1 class="makecenter">Add New Log - {{trackerdata["tracker_name"]}}</h1>
    </div>
    
    <div class="border formborder shadow-sm">
        <!-- <form action="/log/{{userdata['user_id']}}/{{trackerdata['tracker_id']}}/create" method="POST" id="update-tracker-form"> -->
        <form action="/log/{{trackerdata['tracker_id']}}/create" method="POST" id="update-tracker-form">
            <div><p><b> Log Time : </b></p></div>

            <div class="input-group mb-3">
                <span class="input-group-text"> Select Timestamp </span>
                <input type="datetime-local" class="form-control" id="timestamp" name="timestamp" 
                        value="{{dt[:10]+'T'+dt[11:16]}}" min="2020-01-01T01:30" min="2099-12-30T23:55" required>
            </div>
            
            {% if trackerdata['track_type']=='Numerical' %}
                <div class="input-group mb-3" style="max-width:200px;">
                    <label for="logvalue" class="form-label"><b> Tracker Value : </b> &nbsp; </label>
                    <input type="number" class="form-control" id="logvalue" name="logvalue" step=".1" required>
                </div>
            {% else %} <!-- for multiple choice type -->
                <div class="input-group mb-3">
                    <label class="input-group-text" for="logvalue"><b> Tracker Value : </b></label>
                    <select class="form-select" id="logvalue" name="logvalue" required>
                        <option value="" selected>---Choose---</option>
                        {% for val in tvallist %}
                        <option value="{{val}}"> {{ val }} </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="notes" class="form-label"><b> Notes : </b> </label>
                <input class="form-control" id="notes" name="notes" placeholder='add a note'>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="RegisterLog">
            </div>
        </form>
    </div>
{% endblock %}