{% extends "base.html" %}
{% block title %} Dashboard | QuantifiedSelf {% endblock %}

{% block content %}
    <div class="mt-3 mb-3">
        <h1 class="makecenter">Contact Us</h1>
    </div>
    <br><br>
    <div class="mb-3 makecenter shadow" style="padding: 5px;">
        <p>Hi Users, This is our Contact Us page</p>
        <p>Please feel free to write us !</p>
        <p><i><b>Phone Number : </b></i> <b>1234567890</b></p>
        <p><i><b>Email Address : </b></i> <b>dummy@localhost.com</b></p>
    </div>
{% endblock %}