{% extends "base.html" %}
{% block title %} Dashboard | QuantifiedSelf {% endblock %}

{% block script_func %}
    <script>
        function text(x) {
            if (x==0) {
                document.getElementById("mcqdiv").style.display = "block";
                document.getElementById("numdiv").style.display = "none";
            }
            else {
                document.getElementById("mcqdiv").style.display = "none";
                document.getElementById("numdiv").style.display = "block";
            }
            return;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="mt-3 mb-3">
        <h1 class="makecenter">Create a New Tracker</h1>
    </div>

    <div class=" border formborder shadow-sm">
        <form action="/tracker/create" method="POST" id="create-tracker-form">
            <div class="mb-3">
                <label for="trackername" class="form-label"><b>Tracker Name : </b></label>
                <input class="form-control" id="trackername" name="trackername" placeholder="New Tracker Name" required>
            </div>
            <div class="mb-3">
                <label for="trackerdescr" class="form-label"><b>Tracker Description : </b></label>
                <textarea class="form-control" id="trackerdescr" name="trackerdescr" rows="2"></textarea>
            </div>

            <!-- START ~~~ DYNAMICALLY SHOW / HIDE USING JAVASCRIPT -->
            <div class="mb-3">
                <!-- <label for="trackertype" class="form-label">Tracker Type : </label> -->
                <p><b>Tracker Type : </b></p>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="trackertype" value="Multiple_Choice" onclick="text(0)" checked> Multiple Choice
                    </label> &nbsp; &nbsp;
                    <label class="radio-inline">
                        <input type="radio" name="trackertype" value="Numerical" onclick="text(1)"> Numerical
                    </label>
                </div>
            </div>

            <!-- input field -->
            <div class="mb-3" id="mcqdiv">
                <label for="trackersettings" class="form-label">Tracker Settings : </label>
                <input type="text" class="form-control" id="trackersettings" name="trackersettings" placeholder="Put CSV without any spaces">
            </div>
            <div class="mb-3" style="display: none;" id="numdiv">
                <p> Great ! Go Ahead with your Numerical Value Settings.. </p>
            </div>
            <!-- END ~~~ DYNAMICALLY SHOW / HIDE USING JAVASCRIPT -->


            <!-- Submit -->
            <div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}