<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> LogIn Page | QuantifiedSelf App </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/custom_validations.js') }}"></script> -->

</head>
<body>
<div class="container">
    <div class="jumbotron mt-3 mb-3">
        <h1 class="display-4"> Get Help to Log-In/Register </h1>
        <h4>Get Help to Log-In/ Register/ any other form fillups also</h4>
    </div>

    <div>
        <p><b>`username`* - </b> Plain Text, without spaces, without `;`, `=`, etc symbols </p>
        <p><b>`password`* - </b> Put your Password here </p>
        <p><b>`First Name`* - </b> Plain Text, without `;`, `=`, etc symbols, `DELETE`, `SELECT`, etc keywords </p>
        <p><b>`Last Name` - </b> Plain Text, without `;`, `=`, etc symbols, `DELETE`, `SELECT`, etc keywords </p>
        <p><b>`description` - </b> Plain Text, without `;`, `=`, etc symbols, `DELETE`, `SELECT`, etc keywords </p>
        <p><b>`csv value` - </b> Comma seperated values, without spaces, without `;`, `=`, etc symbols, `DELETE`, `SELECT`, etc keywords </p>

    </div>

</div>
</body>
</html>