{% extends "base.html" %}
{% block title %} Dashboard | QuantifiedSelf {% endblock %}

{% block content %}
<!-- <div class="container container-fluid mb-5"> -->
    <div class="mt-3 mb-3">
        <h1 class="makecenter"> {{trackerdata["tracker_name"]}} Dashboard </h1>
    </div>

    <!-- <div class="row g-2"> -->
    <div class="row gx-4">
    <!-- <div class="row gx-4 flexbar"> -->
        <div class="col-md-3 leftside">
            <div class="leftside border shadow-sm" style="padding-left: 2px;">
                <h1>Stats</h1>
                <!-- NEW~~~~~~~~~~~~ -->
                <div class="mb-3">
                    <!-- <label for="trackertype" class="form-label">Tracker Type : </label> -->
                    <p><b>Select bellow : </b></p>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="stat_radio" value="tmonth" onclick="text(0)" checked> This Month
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stat_radio" value="overall" onclick="text(1)" disabled> Overall
                        </label>
                    </div>
                    <p>*** To see the graph record new log value for atleast Two different days</p>
                </div>
                <!-- <p>*** To see the graph record new log value for atleast Two different days</p> -->

            </div>
            
        </div>

        <div class="col-md-8">
            <!-- Code correct card -->
            <div class="rightside">
                
                <!-- NEW~CARD~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                {% if loglist %}
                    {% if trackerdata["track_type"] == "Numerical" %}
                    <div class="card shadow" id="monthcode1">
                        <img src="{{ url_for('static', filename='images/monthlygraph.png') }}" alt="Trendline Graph is Not available" style="max-height: 250px; min-height: 250px;">
                    </div>
                    {% else %}
                    <div class="card shadow" id="monthcode2">
                        <img src="{{ url_for('static', filename='images/hist.png') }}" alt="Histogram is Not available" style="max-height: 250px; min-height: 250px;">
                    </div>
                    {% endif %}
                {% else %}
                    <div class="card shadow" id="monthcode1">
                        <b class="mt-3 mb-3">Data for Trendline / Histogram is Not available</b>
                        <!-- <img src="{{ url_for('static', filename='images/nodata.png') }}" alt="Data for Trendline Not available" style="max-height: 100%;"> -->
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    <br>
    <div class="row gx-4">
    <!-- <div class="row gx-4 flexbar"> -->
        <div class="col-md-3">
            <div class="leftside border shadow-sm">
                <h1>Logs</h1>
                <div>
                    <p>Select bellow :</p>
                    <select class="form-select form-select-sm mb-4" aria-label=".form-select-sm example" disabled>
                        <option selected>Select Period</option>
                        <option value="1">This Week</option>
                        <option value="2">This Month</option>
                        <option value="3">Overall</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <!-- Code correct table -->
            <div class="rightside">
                <div class="card shadow-sm overflow-auto">
                <table class="table table-info table-striped table-hover table-bordered border-dark scroll">
                    <thead class="scroll">
                    <tr class="scroll">
                        <th class="scroll"> Timestamp </th>
                        <th class="scroll">Value</th>
                        <th class="scroll">Comment</th>
                        <th class="scroll">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="scroll">
                    {% if loglist %}
                    {% for log in loglist %}
                        <tr class="scroll">
                            <td class="scroll">{{log["timestamp"]}}</td>
                            <td class="scroll"> {{log["value"]}}
                                
                            </td>
                            <td class="scroll"> {{log["note"]}}
                               
                            </td>
                            <td class="scroll">
                                <div class="makecenter">
                                    <a class="btn btn-warning" href="/log/{{log['log_id']}}/update">Edit</a>
                                    <a class="btn btn-danger" href="/log/{{log['log_id']}}/delete">Delete</a>
                                    
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr class="scroll">No logs yet recorded. Please add a new Log.</tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="makecenter">
                    <a class="btn btn-outline-success mb-1" href="/log/{{trackerdata['tracker_id']}}/create"> Add New Log </a>
                </div>
                
                </div>
            </div>
        </div>
    </div>
{% endblock %}