{% extends "base.html" %}
{% block title %} Dashboard | QuantifiedSelf {% endblock %}

{% block content %}
    <div class="mt-3 mb-3">
        <h2 class="makecenter">Update Your Tracker - {{trackerobj["tracker_name"]}}</h2>
    </div>

    <div class=" border formborder shadow-sm">
        <form action="/tracker/{{trackerobj['tracker_id']}}/update" method="POST" id="update-tracker-form">
            <div class="mb-3">
                <label for="trackername" class="form-label">Tracker Name : </label>
                <input class="form-control" id="trackername" name="trackername" value='{{trackerobj["tracker_name"]}}'>
            </div>
            <div class="mb-3">
                <label for="trackerdescr" class="form-label">Tracker Description : </label>
                <textarea class="form-control" id="trackerdescr" name="trackerdescr" rows="2">{{trackerobj["description"]}}</textarea>
            </div>
            
            <div class="mb-3">
                <!-- <label for="trackertype" class="form-label">Tracker Type : </label> -->
                <p><b>Tracker Type : </b></p>
                <div>
                    {% if trackerobj["track_type"] == "Numerical" %}
                    <label class="radio-inline">
                        <input type="radio" name="trackertype" value="Multiple_Choice" onclick="text(0)" disabled> Multiple Choice
                    </label> &nbsp; &nbsp;
                    <label class="radio-inline">
                        <input type="radio" name="trackertype" value="Numerical" onclick="text(1)" checked> Numerical
                    </label>
                    {% else %}
                    <label class="radio-inline">
                        <input type="radio" name="trackertype" value="Multiple_Choice" onclick="text(0)" checked> Multiple Choice
                    </label> &nbsp; &nbsp;
                    <label class="radio-inline">
                        <input type="radio" name="trackertype" value="Numerical" onclick="text(1)" disabled> Numerical
                    </label>
                    {% endif %}
                </div>
            </div>

            <!-- input field -->
            {% if trackerobj["track_type"] == "Numerical" %}
            <div class="mb-3" style="display: none;" id="mcqdiv">
                <label for="trackersettings" class="form-label">Tracker Settings : </label>
                <input type="text" class="form-control" id="trackersettings" name="trackersettings" value='{{trackerobj["settings"]}}'>
            </div>
            <div class="mb-3" id="numdiv">
                <p> Great ! Go Ahead with your Numerical Value Settings.. </p>
            </div>
            {% else %}
            <div class="mb-3" id="mcqdiv">
                <label for="trackersettings" class="form-label">Tracker Settings : </label>
                <input type="text" class="form-control" id="trackersettings" name="trackersettings" value='{{trackerobj["settings"]}}'>
            </div>
            <div class="mb-3" style="display: none;" id="numdiv">
                <p> Great ! Go Ahead with your Numerical Value Settings.. </p>
            </div>
            {% endif %}

            <!-- Submit -->
            <div>
                <input class="btn btn-primary" type="submit" value="Save">
            </div>
        </form>
    </div>
{% endblock %}