{% extends "base.html" %}
{% block title %} Dashboard | QuantifiedSelf {% endblock %}

{% block content %}
    <div class="mt-3 mb-3">
        <h1 class="makecenter">Edit Existing Log - {{trackerdata["tracker_name"]}}</h1>
    </div>

    <div class=" border formborder shadow-sm">
        <form action="/log/{{logdata['log_id']}}/update" method="POST" id="update-log-form">
            <div><p><b> Log Time : </b></p></div>

            <div class="input-group mb-3">
                <span class="input-group-text"> Select Timestamp </span>
                <input type="datetime-local" class="form-control" id="timestamp" name="timestamp" 
                        value="{{dt[:10]+'T'+dt[11:16]}}" min="2020-01-01T01:30" min="2099-12-30T23:55" required>
            </div>
            
            {% if trackerdata['track_type']=='Numerical' %}
                <div class="input-group mb-3" style="width:150px;">
                    <label for="logvalue" class="form-label">Value : &nbsp; </label>
                    <input type="number" class="form-control" id="logvalue" name="logvalue" step=".1" value="{{logdata['value']}}" required>
                </div>
            {% else %}
            <div class="input-group mb-3">
                <label class="input-group-text" for="logvalue"><b> Tracker Value : </b></label>
                <select class="form-select" id="logvalue" name="logvalue" required>
                    <!-- <option value="">---Choose---</option> -->
                    {% for val in tvallist %}

                        {% if logdata['value'] == val %}
                        <option value="{{val}}" selected> {{ val }} </option>
                        {% else %}
                        <option value="{{val}}"> {{ val }} </option>
                        {% endif %}

                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="notes" class="form-label">Notes : </label>
                <input class="form-control" id="notes" name="notes" value="{{logdata['note']}}">
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="UpdateLog">
            </div>
        </form>
    </div>
{% endblock %}